<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="errorlogfile" xsi:type="File" fileName="${basedir}/logs/error.log" />
    <target name="infologfile"  xsi:type="File" fileName="${basedir}/logs/info.log" />
    <target name="debuglogfile" xsi:type="File" fileName="${basedir}/logs/debug.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="errorlogfile" />
    <logger name="*" minlevel="Info"  writeTo="infologfile" />
    <logger name="*" minlevel="Debug" writeTo="debuglogfile" />
  </rules>
</nlog>